body {
  box-sizing: border box;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin-bottom: 20px;
  font-size: 20px;
}

.newpage {
  background-color: azure
}

button {
  height: 150px;
  width: 150px;
  font-size: 20px;
  background-color: darksalmon;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
  height: 20px;
  width: 20px;
  font-size: 10px;
  font-weight: 800;
  background-color: yellow;
}

li {
  list-style: none;
}